<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace:패키지명,클래스이름을 논리적으로 선언 -->
<mapper namespace="com.groupware.mapper.AddressBookMapper">

	<insert id="insertAddressBook" parameterType="AddressBook">

		INSERT INTO addressbook
		(
		addressno, name, email, phone_number, home_number,
		fax, nation, address, company_name, department_name,
		position_name, company_number, company_address, memo)
		VALUES(
		addressno_sequence.nextval,#{name}, #{email}, #{phoneNumber}, #{homeNumber}, #{fax},
		#{nation}, #{address}, #{companyName}, #{deptName},
		#{positionName}, #{companyNumber}, #{companyAddress}, #{memo})
	</insert>


</mapper>                                                                                 