<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.groupware.mapper.ApprovalMapper">

	<select id="getApprovalForm" parameterType="int" resultType="ApprovalForm">
		SELECT form_no,form_name,form_explain,fixedDate 
		FROM APPROVAL_FORM
		WHERE form_no =#{form_No}
	</select>

	<select id="getApprovalForm2" resultType="ApprovalForm">
		SELECT form_no,form_name,form_explain,fixedDate 
		FROM APPROVAL_FORM
	</select>

</mapper>
  