<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.groupware.mapper.ScheduleMapper">
 
 	<insert id="insertSchedule" parameterType="hashMap" >
		INSERT INTO schedule(key, title, cont, stdate, eddate, classify, piority, category, makepublic, s_id) 
		values(sc_seq.nextval,#{tile},#{cont},#{stDate},#{edDate},#{classify},#{priority},#{category},#{makepublic},#{s_id})
 	</insert>
 	
 </mapper>
  