/* Kurien / Kurien's Blog / http://blog.kurien.co.kr */
/* 주석만 제거하지 않는다면, 어떤 용도로 사용하셔도 좋습니다. */

@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

.kheader {height: 50px; line-height: 50px; text-align: center; font-size: 18px; font-weight: bold}
.sheader {text-align: right; font-size: 15px; font-weight: bold}
.kbutton {color: #000; text-decoration: none;}
.cal {width: 970px; height: 300px; font-size: 13px;}
.ccap {display: none;}

.sun {color: deeppink; width: 10px;}
.mon {width: 10px;}
.tue {width: 10px;}
.wed {width: 10px;}
.thu {width: 10px;}
.fri {width: 10px;}
.sat {color: deepskyblue;width: 10px;}